architecture:
  version: 0.4
  nodes:
    - !Component
      name: DRAM
      class: DRAM
      attributes:
        depth: 268435456
        width: 64
        datawidth: 8
        # read_bandwidth: 1 # bits per cycle
      constraints:
        dataspace:
          keep: [ Inputs, Weights ]
          bypass: [ Outputs ]
    - !Container
      name: PE
      spatial: { meshY: 1, meshX: 128 }
      constraints:
        spatial:
          no_reuse: [ Inputs, Weights ]
        #   no_link_transfer: [ Inputs, Weights ] # no effect
    - !Component
      name: Buffer
      class: SRAM
      attributes:
        depth: 12288
        width: 64
        datawidth: 8
      constraints:
        dataspace:
          keep: [ Inputs, Weights, Outputs ]
          # bypass: [ Outputs ]
    - !Component
      name: Accelerator
      spatial: { meshY: 4, meshX: 16 }
      class: intmac
      attributes:
        multiplier_width: 16
        adder_width: 29